<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <!-- SCRIPT -->
    <script>
        function SetupProfile() {
            window.location = window.location.origin + "/set-up-profile";
        }
        function SetupWebview() {
            window.location = window.location.origin + "/";
        }
    </script>

    <!-- LAYOUT -->
    <h1>TESDA Lyceum of Alabang</h1>
    <hr/>
    <h4>Setup Profile API</h4>
    <button id="btn1" type="submit" onclick="SetupProfile()">Setup</button>
</body>
</html>